html {
     overflow: -moz-scrollbars-vertical;
     overflow-y: scroll;
}

.episode-hidden { display: none; }

.section-menu {
    background-color: #eee;
}

ul.section-menu > li > a:hover {
    background-color: #ffc;
}

ul.section-menu > li.active > a {
    background-color: #428bca;
    color: white;
}

ul.section-menu > li.active > a:hover {
    background-color: #428bca;
    color: white;
}

ul.nav > li.dropdown > a.dropdown-active {
    background-color: #357ebd;
    color: white;
}

ul.nav > li.dropdown > a.dropdown-active:hover {
    background-color: #357ebd;
    color: white;
}

li.dropdown > a.dropdown-active span.caret {
    border-top-color: white;
}

li.plot-summary {
    padding-bottom: 2em;
}

.bold {
    font-weight: bold;
}

.spoiler {
    visibility: hidden;
}

#cover-image {
    width: 100%;
}

.poster-image img {
    width: 100%;
}

.backdrop-image img {
    width: 100%;
}

.profile-image img {
    width: 100%;
}

.navbar-custom {
    background-color: #f8f8f8;
    color: #000;
    border-radius: 0;
}

.navbar-custom li.disabled a.navbar-brand {
    color: #000;
}

.navbar-custom li.disabled a:hover.navbar-brand {
    color: #000;
}

.navbar-custom .navbar-nav > li > a {
    color: #428bca;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color: #000;
}

.black {
    color: #000 !important;
}

.wrap {
    white-space: normal !important;
}

.spinner {
    box-sizing: content-box;
    position: absolute;
    left: 50%;
    top: 25%;
    width: 10em;
    height: 3.6em;
    margin-left: -5em;
    margin-top: -1.8em;
    font-size: 150%;
    text-align: center;
    border: 1px solid black;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.spinner-inner {
    padding: 1em;
    height: 3.6em;
    background-color: white;
    opacity: 1;
}

.spinner-img {
    margin-top: -4px;
    height: 1em;
}

.spinner-off {
    visibility: hidden;
    opacity: 0;
}

.spinner-on {
    visibility: visible;
    opacity: 1;
}

.spinner-loader {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.spinner-loader-off {
/*    opacity: 1; */
}

.spinner-loader-on {
/*    opacity: 0; */
}